<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | TwiCal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <mata name="discription" content="自分のツイート履歴をカレンダー形式で表示するサイトです" />
</head>
<body>
  <div class="container">
  <header>
    <h1><a href="/">TwiCal</a></h1>
    <p class="nav">
      <%= link_to 'Home', root_path %> : <%= link_to 'Help', :controller => 'static_pages', :action => 'help' %><br />
      <% unless logged_in? %>
        <%= link_to 'Login', '/auth/twitter' %>
      <% else %>
        <%= link_to 'Logout@'+@current_user.nickname, logout_path %>
      <% end %>
    </p>
  </header>

<%= yield %>

  <footer>
    <p>ご質問などありましたら<a href="https://twitter.com/kze_yoshi8">@kze_yoshi8</a>までお願いします。</p>
  </footer>

  </div><!-- container -->
</body>
</html>
