<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | TwiCal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
  <header>
    <h1><a href="/">TwiCal</a></h1>
    <p class="nav">
      <%= link_to 'Home', root_path %> :
      <% unless logged_in? %>
        <%= link_to 'Login', '/auth/twitter' %>
      <% else %>
        <%= link_to 'Logout@'+@current_user.nickname, logout_path %>
      <% end %>
    </p>
  </header>

<%= yield %>

  <footer>
    <p>@kze_yoshi8</p>
  </footer>

  </div><!-- container -->
</body>
</html>
